fastapi
uvicorn[standard]
face_recognition
numpy
SQLAlchemy>=2
pillow
python-multipart
opencv-python
alembic
python-dotenv
httpx
mysqlclient
python-jose[cryptography]
bcrypt==4.0.1 
passlib[bcrypt]
pydantic[email]
