<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Employee Portal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button routerLink="/home" routerDirection="root">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item button routerLink="/configuration">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Configuration</ion-label>
        </ion-item>
        <ion-item button routerLink="/device-details">
          <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
          <ion-label>Device Details</ion-label>
        </ion-item>
        <ion-item button routerLink="/time-tracker">
          <ion-icon name="time-outline" slot="start"></ion-icon>
          <ion-label>Time Tracker</ion-label>
        </ion-item>
        <ion-item button routerLink="/reports">
          <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
          <ion-label>Reports</ion-label>
        </ion-item>
        <ion-item button (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
